GOOGLE_API_KEY=AIzaSyC3_jZER6xmIef3nyDeeUC-FEReGw4R3jI
POSTGRES_USER=ventixe_user
POSTGRES_DB=ventixe_main
POSTGRES_PASSWORD=ventixe_password
CERT_PASSWORD=your_cert_password_here
OPENAI_API_KEY=your_openai_api_key_here